.so-widget-sow-slider-default-1cd49f8db4d4 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-slider-default-1cd49f8db4d4 .sow-slider-base .sow-slide-nav {
  font-size: 26px;
}
.so-widget-sow-slider-default-1cd49f8db4d4 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}